body {
  font-family: Verdana, sans-serif;
  color: darkslategray;
  /*margin: 1px;  122px * .1; */
}

p {
  margin: 0;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/*-----*/
/* Nav */
/*-----*/
.navbar-primary {
  background-color: aquamarine;
}

.nav-pills .nav-link {
  border-radius: .4rem 0 0 0;
  border-bottom: 1px solid lightgray;
}

.nav-pills.nav-link.active,
.nav-pills.show > .nav-link {
  color: #fff;
  background-color: #007bff;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 15px 4px 0 0;
}

/*---------*/
/* Buttons */
/*---------*/
.btn {
  align-self: flex-end;
  justify-content: flex-start;
}

.btn-default {
  background-color: moccasin;
  border: 1px solid darkgray;
  color: #444;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-default:hover,
.btn-default.active {
  background-color: darksalmon;
  color: #2b2b2b;
  border: 1px solid darksalmon;
}

.btn-primary {
  color: #2b2b2b;
  /*margin: 0; */
  background-color: aquamarine;
  border: 1px solid darkgray;
  /*border-color: aquamarine;*/
  /*box-shadow: 4px 4px 13px #8888;*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: lightsteelblue;
  border: 1px solid darkgray;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 0.3rem;
  margin-bottom: 3px;
}

.btn-light {
  color: #2b2b2b;
  background-color: moccasin;
  border: 1px solid darkgray;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-light:hover {
  background-color: darksalmon;
}

btn-light:not(:disabled):not(.disabled):active,
.btn-light.active:not(:disabled):not(.disabled),
.show > .btn-light.dropdown-toggle {
  background-color: darksalmon;
  color: #2b2b2b;
}

.action-button {
  margin: 20px 8px;
  /*30px;*/
}

body > div.wrapper > nav > ul.navbar-nav.ml-auto > .action-button {
  margin: 3px;
}

/*-------*/
/* Forms */
/*-------*/
.form-control, .form-control:focus {
  color: #22a7c5;
  background-color: #f8f9fa;
  border: 2px solid lightsteelblue;
}

.selectize-control {
  margin-bottom: 0;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #2b2b2b;
}

.shiny-input-container {
  margin: 3px 8px;
  align-self: flex-end;
}

.awesome-checkbox .checkbox-primary {
  align-items: center;
  vertical-align: middle;
}

.sidebar-dark-danger .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-danger .nav-sidebar > .nav-item > .nav-link.active {
  background-color: moccasin;
  color: black;
}

/* bar */
.irs--shiny .irs-handle {
  background-color: palegoldenrod;
}

.irs--shiny .irs-bar {
  background: darkslategray;
}
