
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$secondary-color: gray-dark;



body { 
	font: 100% $font-stack;
	color: $secondary-color;
	margin: 122px * .1; 
}



.well {
	
	background-color: $primary-color;
}


.row {
 vertical-align: bottom;
}



.navbar-primary {
	background-color: $secondary-color;

}